---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Menu from '../components/Menu.astro';
---

<Layout title="Horno Coscolin - Menu">
  <Header />
  <main class="pt-20">
    <Menu /> 
  </main>
</Layout>
<Footer/>